.about {
    background-image: url(../images/bg/about-bg_20blur20.jpg);
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 18px;
    }
}

.about__text {
    &:nth-of-type(1) {
        margin-bottom: 20px;
    }
    &:nth-of-type(3)  {
        margin-bottom: 20px;
    }
}

.about__list {
    padding: 0 0 0 20px;
}