.contacts {
    background-color: #fff;
}

.contacts__wrap {
    height: calc(100% - 60px);
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-gap: 1rem;
    align-items: center;

    @media (min-width: 568px) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: unset;
    }
}

.contacts__map {
    height: 100%;
    width: 100%;

    @media (min-width: 768px) {
        height: 70%;
    }
}
.contacts__map__label {
    color: #000;
}

.contacts__phone-number,
.contacts__email,
.contacts__address {
    padding: 0.5rem 0;

    .svg-inline--fa {
        margin-right: 10px;
    }
}

.contacts__phone-number {
    display: flex;
    align-items: center;

    a:nth-of-type(1) {
        padding-right: 10px;
    }
}

.contacts__phone-number__wrap {
    display: flex;

    @media (min-width: 568px) {
        flex-direction: column;
    }

    @media (min-width: 1024px) {
        display: block;
    }
}