.documents {
    background-image: url(../images/bg/documents-bg_20blur20.jpg);
    background-position: center;
}

.documents__list {
    padding: 0;
    list-style-type: none;
}

.documents__list a {
    background-image: url(../images/icons/pdf.svg);
    background-repeat: no-repeat;

    padding: 30px 20px 30px 55px;
    background-size: 40px;
    background-position: left;

    font-size: 14px;
    color: #ffffff;
    text-decoration: underline;
    display: block;

    @media (min-width: 768px) {
        font-size: 18px;
    }
}