@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Regular.woff) format('woff'),
         url(../fonts/Oswald-Regular.woff2) format('woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 0;
    font-family: 'Oswald', sans-serif !important;
}

p {
    margin: 0;
}

.componentSetUp {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;

    padding-bottom: 20px;
}

.componentSetUp__wrap {
    //height: 90%;
    margin-top: 60px;
    overflow: auto;

    @media (min-width: 768px) {
        //height: 80%;
    }
}

.white-color {
    color: #fff;
    &:hover {
        color: #aaa;
    }
}
.black-color {
    color: #000;
    &:hover {
        color: #666666;
    }
}

.container {
    @media (min-width: 1700px) {    //fhd
        max-width: 1400px !important;
    }
    @media (min-width: 2500px) {    //2k
        max-width: 1700px !important;
    }
    @media (min-width: 3500px) {    //4k
        max-width: 2000px !important;
    }
}