.home {
    position: relative;
    justify-content: flex-end;

    height: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    color: #ffffff;

    padding-bottom: 20px;
}

.home__wrap {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.home__title {
    text-align: center;
    h1 {
        font-size: 2rem;
        font-weight: bold;
        
        @media (min-width: 768px) {
            font-size: 4rem;
        }
    }
    p {
        font-size: 1rem;

        @media (min-width: 768px) {
            font-size: 1.5rem;
        }
    }
}

.home__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.home__phone {
    display: flex;
    flex-direction: column;
    width: 50%;

    @media (min-width: 768px) {
        display: block;
        width: unset;

        a:first-child {
            padding-right: 10px;
        }
    }
}
.home__adress {
    width: 50%;

    @media (min-width: 768px) {
        width: unset;
    }
}

.home__title, .home__adress {
    p {
        text-align: center;
        margin: 0 0;
    }
}

.background__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: bgchange 30s cubic-bezier(1, 0, 0, 0) infinite;

    will-change: background-image;
}

@keyframes bgchange {
    0% {
        background-image: url('../images/mainPage/main1_20blur20.jpg');
    }
    20% {
        background-image: url('../images//mainPage/main2_20blur20.jpg');
    }
    40% {
        background-image: url('../images/mainPage/main3_20blur20.jpg');
    }
    60% {
        background-image: url('../images/mainPage/main4_20blur20.jpg');
    }
    80% {
        background-image: url('../images/mainPage/main5_20blur20.jpg');
    }
    100% {
        background-image: url('../images/mainPage/main1_20blur20.jpg');
    }
}