.sidebar-content {
    height: 100%;
    position: relative;
    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem;
        font-size: 1rem;
    }
}

.sidebar-btn {
    background-color: transparent;
    border-color: transparent;

    &:focus {
        outline: unset;
    }
}

.navbar.fixed-top {
    padding: .5rem 0;

    @media (min-width: 768px) {
        padding: .5rem 1rem;
    }
    .container {
        .nav-link {
            padding: .5rem 0;
        }
    }

    h5.nav-link {
        margin: 0 0;
    }
}

.right-side {
    margin-left: auto;
}