.projects {
    height: 100%;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    overflow: hidden;

    padding-bottom: 20px;
}

.projects__wrap {
    height: 80%;
    overflow: auto;
}

.projects__grid {
    display: grid;
    
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, 90px);
    grid-gap: 10px;
    padding: 20px;
    justify-content: center;

    @media (min-width: 450px) {
        grid-template-columns: repeat(1, 425px);
    }
    @media (min-width: 560px) {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(3, 150px);
    }
    @media (min-width: 1000px) {
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(2, 200px);
        grid-gap: 20px;
    }
    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(2, 250px);
        grid-gap: 20px;
    }
}

.projects__item {
    background-repeat: no-repeat;
    background-size: cover;

    &:nth-child(1) {
        grid-column: unset;
        grid-row: unset;
        
        @media (min-width: 1000px) {
            grid-column: 1/3;
            grid-row: 1/2;
        }
    }
    &:nth-child(5) {
        grid-column: unset;
        grid-row: unset;
        
        @media (min-width: 1000px) {
            grid-column: 2/4;
            grid-row: 2/3;
        }
    }

    &[data-description="inn"] {
        background-image: url(../images/projects/inn.jpg);
        background-position: top;
    }
    &[data-description="enthuziast"] {
        background-image: url(../images/projects/enthuziast.jpg);
        background-position: right;
    }
    &[data-description="airport"] {
        background-image: url(../images/projects/aeroport.jpg);
    }
    &[data-description="kerch"] {
        background-image: url(../images/projects/kerch.jpg);
        background-position: center;
    }
    &[data-description="gd"] {
        background-image: url(../images/projects/gd.jpg);
        background-position: center;
    }
    &[data-description="transneft"] {
        background-image: url(../images/projects/transneft.jpg);
    }
    &[data-description="davlekanovokhp"] {
        background-image: url(../images/projects/davlekanovokhp.jpg);
        background-position: right;
    }
    &[data-description="kerchpark"] {
        background-image: url(../images/projects/kerchpark.jpg);
        background-position: center;
    }
    &[data-description="lukoil"] {
        background-image: url(../images/projects/lukoil.jpg);
    }
    &[data-description="rshbank"] {
        background-image: url(../images/projects/rshbank.jpg);
    }
    &[data-description="unhbashneft"] {
        background-image: url(../images/projects/unhbashneft.jpg);
    }
}

.projects__item-description {
    width: 70%;
    padding: 10px 10px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    &--large {
        width: 40%;
    }

    @media (min-width: 1000px) {
        padding: 25px 20px;
    }
}