.slider-projects__prev-button, .slider-projects__next-button {
    width: 8% !important;
    opacity: 1 !important;
    visibility: hidden;

    @media (min-width: 768px) {
        visibility: visible;
    }
    @media (min-width: 1200px) {
        width: 10% !important;
    }
    @media (min-width: 1366px) {
        width: 15% !important;
    }
    @media (min-width: 1500px) {
        width: 25% !important;
    }
}

.slider-projects__prev-icon {
    background-image: url(../images/icons/back.svg) !important;
}

.slider-projects__next-icon {
    background-image: url(../images/icons/next.svg) !important;
}

.slider-projects__prev-icon, .slider-projects__next-icon {
    width: 45px !important;
    height: 45px !important;
}

.slider-projects__prev-button:hover, .slider-projects__next-button:hover {
    opacity: 0.5 !important;
}

.slider-projects__indicators {
    bottom: 0px !important;
    margin-bottom: 0 !important;
}

.slider-projects__indicators li {
    width: 10px !important;
    height: 10px !important;
    
    border-radius: 50% !important;
    border-top: unset !important;
    border-bottom: unset !important;
    border: 1px solid #000000 !important;
}

.slider-projects__indicators li.active {
    background-color: #000000 !important;
}